---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Simple Test" description="Basic test without React components">
	<div>
		<h1>Simple Test</h1>
		<p>If you can see this, basic Astro setup is working.</p>
	</div>
</MainLayout>
